/build/
/build*/
*.user

*.exe
*.dll
*.o
*.obj
*.ilk
*.pdb
*.suo

*.lib
*.a
*.so

moc_*.cpp
ui_*.h
qrc_*.cpp

.DS_Store
.vs/
.vscode/

.cache/
compile_commands.json

libs/libmpv/

*.zip

.antigravityignore
.antigravityrules
.gemini/
.agents/
_agents/
.workbuddy/
linuxdo_post.md

dist/
release/

emby.conf

tools/
